@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
  width: 100%;
  height: auto;
  text-size-adjust: auto;
}

/* header */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  position: relative;
  z-index: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  float: left;
  padding: 20px 10px 20px 10px;
}

li a {
  padding: 16px 0 16px 0;
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}

li a:hover {
  border-image: linear-gradient(to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%));
  border-bottom: 0.2em solid transparent;
  border-image-slice: 1;
}

.request {
  font-size: 18px;
  color: hsl(0, 0%, 98%);
  width: 10em;
  height: 2em;
  border: none;
  border-radius: 18px;
  background-image: linear-gradient(to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%));
  cursor: pointer;
}

.request:hover {
  background-image: linear-gradient(to right,
      hsl(136, 65%, 66%),
      hsl(192, 70%, 66%));
  transform: scale(1.2);
  transition: 0.4s;
}

/* section-1 */

.section1 {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  overflow: visible;
  background: fixed;
  background-color: hsl(0, 0%, 98%);
  position: relative;
  z-index: 0;
}

.rightSection {
  position: relative;
  width: 50%;
}

.image {
  position: absolute;
}

.imageOne {
  z-index: 1;
  top: -7rem;
  right: -9rem;
}

.imageTwo {
  z-index: -1;
  top: -15rem;
  right: -30rem;
}

.leftarticle {
  width: 50%;
  height: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10rem;
  position: relative;
}

.leftarticle p {
  line-height: 2rem;
  padding: 1.5rem 0 1rem;
  color: hsl(233, 8%, 62%);
}

.leftarticle p:nth-child(1) {
  line-height: 4rem;
  font-size: 3rem;
  padding: 0;
  color: hsl(233, 26%, 24%);
}

/* section-2 */

.mainSection2 {
  background-color: hsl(220, 16%, 96%);
}

.section2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  padding: 5rem 0 5rem;
}

.section2 p:nth-child(1) {
  line-height: 5rem;
  font-size: 3rem;
  color: hsl(233, 26%, 24%);
}

.section2 p:nth-child(2) {
  line-height: 2rem;
  color: hsl(233, 8%, 62%);
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 20rem;
  padding-right: 2rem;
}

.card p:nth-child(2) {
  line-height: 3rem;
  font-size: 1.2rem;
  color: hsl(233, 26%, 24%);
}

.card p:nth-child(3) {
  line-height: 2rem;
  padding-top: 1rem;
  color: hsl(233, 8%, 62%);
}

.article2 {
  padding-bottom: 4rem;
}

/* section-3 */

.mainSection3 {
  background-color: hsl(0, 0%, 98%);
}

.section3 {
  width: 80%;
  padding: 5rem 0 5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cardImage {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.respectiveContent {
  padding: 1rem;
  padding-top: 2rem;
  background-color: white;
}

.article3 {
  line-height: 4rem;
  font-size: 3rem;
  color: hsl(233, 26%, 24%);
  padding-bottom: 5rem;
}

.writer {
  font-size: 1.8vh;
  color: hsl(233, 8%, 62%);
  padding: 1rem 0;
}

#headline {
  font-size: 2vh;
  line-height: 2vh;
  color: hsl(233, 26%, 24%);
}

#container .button:hover .top {
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));

}

#writing {
  line-height: 1.8vh;
  color: hsl(233, 8%, 62%);
  font-size: 1.8vh;
}

/* Footer */

footer {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(233, 26%, 24%);
}

.footer-container {
  width: 80%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-column-1 {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-column-2 {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  column-gap: 50px;
}

.footer-column-2>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-column-2>div>div {
  color: white;
}

.footer-column-3 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.copyright {
  color: hsl(233, 8%, 62%);
  ;
}

.social-icons {
  display: flex;
}

.social-icons>div {
  min-width: 50px;
}